@keyframes slideInLeft {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}

@keyframes slideInRight {
  0% {transform: translateX(100%);}
  100% {transform: translateX(0);}
}

html, body {
  height: 100%; 
  margin: 0;
  background-color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.nav {
  margin: 0 auto;
  height: 50px;
  width: calc(100% - 20px);
  text-align: center;
  background-color: #2f3238;
}

.nav > a {
  color: rgb(255, 255, 255);
  width: calc(100% / 8);  
  text-align: center;
  position: relative;
  padding: 14px;
  font-size: 17px;
  display: inline-block; 
  text-decoration: none;
}

.nav a.enabled::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.nav a.enabled:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.container {
  display: flex;
  height: calc( 100% - 90px);
  position: relative;
}

.container > div {
  animation: 0.2s ease-out 0s 1 slideInLeft;
  background-color: #2f3238;
  color: white;
  width: 50%;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  overflow:auto;
}

.container > div.max {
  width: 100%;
}

footer {
  font-size: 9px;
  height: 50px;
  color: white;
  width: 100%;
  text-align: center;
}

.container > div.right {
  animation: 0.2s ease-out 0s 1 slideInRight;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
}



.container a:visited {
  color:darkgrey;
}

img {
  width: 90%;
  height: auto;
}

